body {
    margin: auto 0;
}

.zone, .green {
    /* padding:30px 50px; */
    /* margin:40px 60px; */
    /* cursor:pointer; */
    /* display:inline-block; */
    color:#FFF;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.red, .cyan {
    font-size: 2em;
}

/* Screen MIN resize */
@media only screen and (max-width: 600px) {    
    .main-nav {
        padding: 0;
    }

    li {
        font-size: 75%;
    }
}

h1 {
    text-align: center;
}


    

/* NAV */

/* .sticky {
    position: fixed;
    width: 100%;
} */

.main-nav {
    display: flex;
    list-style: none;
    /* font-size: 0.7em; */
    font-size: 80%;
    margin: 0;
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.push {
    margin-left: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /* grid-template-rows: ; */
    gap: 20px;
}

.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    padding: 100px;
    margin: 20px;
}

/* FOOTER */
footer {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}

.cover {
    width: 30rem;
}

img {
    transition: all 0.6s;
}

.img:hover {
    transform: scale(1.2);
}






/* .zone:hover { */
    /* box-shadow:wheat 0px 5px 15px, inset white 0px -0px 10px; */
/* } */

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: -webkit-linear-gradient(top, #F3AAAA 10%,#febf04 100%); /* Chrome10+,Safari5.1+ */
}    

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    }


.cyan {
    background: -webkit-linear-gradient(top, #323875 -15%, #1995B8 100%);
}



